# Pyhton ile Veri Analizi Çalışması

### Pandas Kütüphanesini içeri Aktarma

In [4]:
import pandas as pd

### CSV Belgesini Okuma Ve Çalıştırma

In [5]:
df = pd.read_csv("pyhton.csv")

In [6]:
df

           Adı      Stand İsmi Cinsiyet
0  Jotaro Kujo  Star Platinium    Erkek
1        Pucci   Made İn Haven    Erkek
2        Ermes            Kiss    Kadın
3  Vanilla İce           Cream    Erkek
4          Dio       Za Warudo     Adam
5         Fugo     Purple Haze    Erkek
6  Jolyne Kujo      Stone Free    Kadın

### Belge içerisinden istediğimiz Bilgiyi Almak

In [6]:
df=df.where(df["Cinsiyet"]=="Erkek")

In [7]:
df

           Adı      Stand İsmi Cinsiyet
0  Jotaro Kujo  Star Platinium    Erkek
1        Pucci   Made İn Haven    Erkek
2          NaN             NaN      NaN
3  Vanilla İce           Cream    Erkek
4          NaN             NaN      NaN
5         Fugo     Purple Haze    Erkek
6          NaN             NaN      NaN

### Veri Setimizin Satır Sayısını Bulmak

In [9]:
len(df)

7

### Veri Setimize Yeni Bir Satır Olarak İstediğimiz Yeni Bilgileri Eklemek

In [13]:
df.loc[len(df.index)] = ["Giorno","Golden Experience","Erkek"]

In [14]:
df

           Adı         Stand İsmi Cinsiyet
0  Jotaro Kujo     Star Platinium    Erkek
1        Pucci      Made İn Haven    Erkek
2          NaN                NaN      NaN
3  Vanilla İce              Cream    Erkek
4          NaN                NaN      NaN
5         Fugo        Purple Haze    Erkek
6          NaN                NaN      NaN
7       Giorno  Golden Experience    Erkek

### "Head" Komutu ile Baştan Başlayarak İstediğimiz Sayıda Satırı Almak

In [16]:
df.head(2)

           Adı      Stand İsmi Cinsiyet
0  Jotaro Kujo  Star Platinium    Erkek
1        Pucci   Made İn Haven    Erkek

### "Tail" Komutu ile Sondan Başlayarak İstediğimiz Sayıda Satır Almak

In [18]:
df.tail(2)

      Adı         Stand İsmi Cinsiyet
6     NaN                NaN      NaN
7  Giorno  Golden Experience    Erkek

### Veri Setimizi istediğimiz Değer Göre Sıralamak

In [22]:
df.sort_values(by="Adı" , ascending=True)

           Adı         Stand İsmi Cinsiyet
5         Fugo        Purple Haze    Erkek
7       Giorno  Golden Experience    Erkek
0  Jotaro Kujo     Star Platinium    Erkek
1        Pucci      Made İn Haven    Erkek
3  Vanilla İce              Cream    Erkek
2          NaN                NaN      NaN
4          NaN                NaN      NaN
6          NaN                NaN      NaN